{% extends 'base.html' %}

{% block meta %}
<title>Login</title>

{% endblock meta %}

{% block content %}
{% load static %}
<div style="background-image: url('/static/loginbg.jpg');
background-size: 100% 100%;
            background-repeat: no-repeat;">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card" style="width: 28rem;">
            <div class="card-body">
                <div class="login">

                    <h1 class="card-title">CakeStock</h1>
                    {% comment %} font-weight normal, margin-bottom, padding bottom {% endcomment %}
                    <h3 class="fw-normal mb-3 pb-3">Login</h3>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <table>
                            <tr>

                                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                            </tr>

                            <tr>

                                <td><input type="password" name="password" placeholder="Password" class="form-control">
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td><button class="btn btn-primary" type="submit">Login</button>
                                </td>
                            </tr>
                        </table>
                    </form>

                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}