{% extends 'base.html' %}
{% block content %}
<style>
    #amount {
        white-space: nowrap;
    }
    body{
        background-color:#fce2aa
    }
    #username{
        font-family: Arial, sans-serif;
        font-size: 24px;
        color:black;
    }
</style>
<div class="m-3"> {% comment %} margin sebesar 1rem (16px) di semua sisi elemen {% endcomment %}
    <h1>Your {{appname}}</h1>
    <hr>
    <h5>Name: </h5>
    <p id="username">{{name}}</p>

    <h5>Class: </h5>
    <p>{{class}} </p>
    <hr>
    <h3>Kamu sudah memasukkan {{items.count}} jenis kue ke CakeStock</h3>
    <table class="table table-bordered">
        <tr>
            <th scope="col">Name</th>
            <th scope="col" colspan="2">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Change</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for item in items %}
        {% comment %} Pada iterasi(baris) terakhir, class table-primary akan ditambahkan ke tag tr{% endcomment %}
        <tr {% if forloop.last %}class="table-primary" {% endif %}>
            <td>{{item.name}}</td>

            <td id="amount" style="text-align: center;" colspan="2">
                <a href="{% url 'main:increase_amount' item.id %}" style="text-decoration: none;">
                    <button style="background-color: white;">
                        +
                    </button>
                </a>
                {{item.amount}}
                <a href="{% url 'main:decrease_amount' item.id %}" style="text-decoration: none;">
                    <button style="background-color: white;">
                        -
                    </button>
                </a>
            </td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td style="text-align: center;">
                <a href="{% url 'main:remove_item' item.id %}" style="text-decoration: none;">
                    <button style="background-color: red; color:azure">
                        remove
                    </button>
                </a>
            </td>

        </tr>
        {% endfor %}
    </table>

    <br />
    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
</div>
{% endblock content %}